# Sistema/IDE
.DS_Store
.vscode/
.idea/

# Node/Netlify Functions
node_modules/
.npm/
.netlify/

# Build/Cache
dist/
build/
.cache/

# Credenciais
.env
*.env
stripe.properties

# Mídia grande (use LFS se precisar versionar)
*.mp4
*.mov
*.zip
*.tar.gz
